body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
  }
  .header {
    padding: 20px; /* some padding */
    text-align: center; /* center the text */
    background: #00008B; /* green background */
    color: white; /* white text color */
  }
  
  /* Increase the font size of the <h1> element */
  
  .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .navbar {
    overflow: hidden; /* Hide overflow */
    background-color: #333; /* Dark background color */
  }
  .navbar h1{
    overflow: hidden; /* Hide overflow */
    background-color: #333; /* Dark background color */
    display: block;
    float: left;
    color: white;
    font-size: 20px;
    text-align: center;
  }
  /* Style the navigation bar links */
  .navbar a {
    float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 14px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline */
  }
  .navbar a.right {
    float: right; /* Float a link to the right */
  }
  /* Change color on hover/mouse-over */
  .navbar a:hover {
    background-color: #ddd; /* Grey background color */
    color: black; /* Black text color */
  }
  * {
    box-sizing: border-box;
  }
  .footer {
    padding: 15px; /* Some padding */
    text-align: center; /* Center text*/
    background: #ddd; /* Grey background */
  }
  
  
  /* Create two unequal columns that sits next to each other */
  
  /* Main column */
  .main {
    flex: 70%; /* Set the width of the main content */
    background-color: white; /* White background color */
    padding: 20px
  }
  .main h1{
      text-align:center;
  }
  .main h4{
      text-align:center;
  }
  
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa-envelope {
    font-size:24px;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {}
  
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }
  .footer {
    padding: 15px; /* Some padding */
    text-align: center; /* Center text*/
    background: #ddd; /* Grey background */
  }